@model DesignPattern.CQRS.PresantationLayer.CQRS.Results.StudentResult.GetStudentByIDQueryResult

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <label>ID</label>
    <input type="text" class="form-control" asp-for="StudentID" />
    <br />
    <label>Ad</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Soyad</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />
   
</div>